.welcome {
    text-align: center;
    font-size: 2.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(229, 95, 18);
    Color: white;
}

 p {
    text-align: center;
}
img {
    height: auto; 
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    
}

.oatmeal {
    height: 70%; 
    width: 550;
}


.recipes:hover {
    color: orange;

}

body {
    background-color: rgba(72, 209, 161, 0.4);
    font-size: 1.4em;
}

.recipes {
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  
}

ul {
    margin: auto;
    padding: auto;
  }

.ingredients {
    list-style-type: square;
}

.figdesc {
    text-align: center;
}