.welcome {
    font-size: 2.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: coral;
    Color: white;
    margin: 0px 350px;
    padding: 3px;
    width: max-content;
}

 p {
    text-align: center;
}
img {
    height: auto; 
    width: 65%;
    display: block;
    margin: 0 auto;
    
}

.oatmeal {
    height: 70%; 
    width: 550;
}


.recipes:hover {
    color: lightcoral;
}

.recipes:visited {
    color: lightcoral;
}
body {
    background-color: rgba(72, 209, 161, 0.4);
    font-size: 1.4em;
}

.recipes {
  font-size: 1.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
  display: inline-flex;
  margin: 15px 60px;
  padding: 10px auto;
}

.ingredients {
    list-style-type: square;
}

.figdesc {
    text-align: center;
}

